.navPreIcon {
  border-bottom: white 1px solid;
  display: grid;
  height: 100%;
  align-items: center;
  padding-right: 0.5rem;
}
.navPreIcon > img {
  margin-bottom: 4px;
}

.text {
  white-space: nowrap;
  border-bottom: white 1px solid;
  padding-right: 1rem;
}


.navButton {
  display: flex;
  position: relative;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  align-items: flex-end;
  justify-content: center;
}
  
.line45 {
  border-bottom: white 1px solid;
  width: 24px;
  bottom: 8px;
  right: 4px;
  position: relative;
  transform: rotate(-45deg);
}