:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 95, 104;
  --background-end-rgb: 0, 95, 104;
  --menu-gradient-start: 35, 47, 50, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 95, 104;
    --background-end-rgb: 0, 95, 104;
    --menu-gradient-start: 35, 47, 50, 1;
  }
}
.navGradient {
  width: 100vw;
  height: 5.28rem;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--menu-gradient-start));
  padding-bottom: 0.8rem;
  display: grid;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-content: end;
}

.menuBar.hide-on-mobile {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: baseline;
  grid-template-columns: repeat(auto, 1fr);
}

.menuBar {
  display: grid;
  gap: calc(var(--gap)/2);
  grid-auto-flow: column;
  grid-template-columns: 5rem 1fr 5rem;
  align-items: end;
}
.searchIcon {
  justify-self: end;
}
.brandImage {
  justify-self: center;
}

.nav-underline {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  left: 2rem;
  position: relative;
  top: 0.2em;
}
