.dmla-menu-bar.hide-on-mobile {
position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: baseline;
  grid-template-columns: repeat(auto, 1fr);
}
  
.line45 {
  border-bottom: white 1px solid;
  width: 24px;
  bottom: -4px;
  right: 4px;
  position: relative;
  transform: rotate(-45deg);
}

.navButton {
  display: grid;
  grid-auto-flow: column;
  position: relative;  
  align-items: center;
  width: 100%;

  .nav-pre-icon {
    border-bottom: white 1px solid;
    display: grid;
    height: 100%;
    align-items: center;
    padding-right: 0.5rem;
  }

  .text {
    white-space: nowrap;
    border-bottom: white 1px solid;
    padding-right: 1rem;
  }
}
.nav-underline {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  left: 2rem;
  position: relative;
  top: 0.2em;
}
.nav-gradient {
  width: 100vw;
  height: 5.28rem;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--menu-gradient-start));
    padding-bottom: 0.8rem;
}

.sticky {
  display: grid;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-content: end;
}

nav.dmla-menu-bar {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  grid-template-columns: 5rem 1fr 5rem;
  align-items: end;
}
.search-icon {
  justify-self: end;
}
.brand-image {
  justify-self: center;
}