.activityCardRight {
  flex-direction: row-reverse !important;
}
.card {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  flex-direction: row;
}
.card > div {
  flex: 1 1;
}

@media screen and (max-width: 707px) {
  .card.activityCardRight {
    justify-content: flex-end;
  }
}

.text {
  min-width: 300px;
}

.image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template: "container";
  position: relative;
  max-width: 17.5rem;
}

.corner {
  display: block;
  background-color: var(--secondary-color);
}

.mainImageLeft {
  clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0% 85%, 0 0);
  grid-area: 1 / 1;
}
.mainImageRight {
  clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
  grid-area: 1 / 1;
}

.logoRight {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.logoLeft {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  align-items: center;
}
.title {
  color: var(--primary-color);
}
.image > img {
  margin-bottom: var(--gap);
}
.text {
  display: grid;
  gap: calc(var(--gap) / 4);
}