.hero {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template: "container";
  position: relative;
  
  justify-items: center;
  align-items: end;
}

@media screen and (max-width: 550px) {
  .hero {
    min-height: 20px;
  }
}

.hero > img,
.hero > div {
  grid-area: 1 / 1;
  display: grid;
}

.mobilehero {
  gap: 1rem;
}

.mobilehero > div {
  grid-template-columns: 26ch;
  margin: auto 1rem 3em 1rem;
  row-gap: 1rem;
  text-align: center;
}

.desktophero > div {
  grid-template-columns: 36ch 36ch;
  grid-template-rows: 1fr 1fr;
  margin: auto 11rem 6em 11rem;
  column-gap: 5rem;
  row-gap: 1rem;
}


.tablethero > div {
  --margin-left: calc(22vw - 6em);
  grid-template-columns: 22.5ch 22.5ch;
  grid-template-rows: 1fr 1fr;
  margin: auto 0 4.2em var(--margin-left);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-self: baseline;
}

.mobilehero > div > .quote {
  margin-top: 6.5em;
}

.quote {
  grid-row: span 2;
  display: flex;
  gap: 0.5rem;
}
.quote > blockquote {
  text-align: center;
}

.quote > img:first-child {
  align-self: flex-start;
}
.quote > img:last-child {
  align-self: flex-end;
}