.ourimpact {
  display: grid;
  background-color: var(--mute-color);
  padding: var(--gap) 0;
}

.globeHeadline {
  display: flex;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.globeHeadline > img {
  display: block;
}
.globeHeadline > h3 {
  font-size: 3.2rem;
}

.mainContent {
  display: block;
}
.mainContent > :first-child {
  margin-bottom: calc(var(--gap) / 2);
}
@media screen and (max-width: 1001px){
  .globeHeadline {
    margin-top: 0.5rem;
  }
.globeHeadline > img {
  display: block;
  width: 100%;
  max-width: 16vw;
}
.globeHeadline > h3 {
  font-size: calc(1.8rem + 1vw);
}
}