.platform {
  display: grid;
  
  align-items: end;
  justify-items: center;
  justify-content: space-around;
}

.platformLogo {
  display: block;
  width: fit-content;
  height: fit-content;
}
.platformReason {
  display: inline-block;
}
